body {
  margin: 0;
  background: url('bg.png');
}
input:focus,
button:focus {
  outline: none;
}
ul {
  list-style-type: none;
}
.homepage header {
  padding: 20px;
}
.homepage header:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.homepage header .setting {
  background: url('setting-icon.png') no-repeat;
  background-size: 20px auto;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  float: right;
  transition: transform 800ms ease-in-out;
  transform: rotate(0deg);
}
.homepage header .setting:hover {
  transform: rotate(180deg);
}
.homepage .search-wrap {
  background: #d3d2ce;
  width: 500px;
  height: 50px;
  margin: 150px auto 0;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #bbb inset;
  padding: 15px;
}
.homepage .serch-content {
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 0 10px 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #bbb;
}
.homepage .serch-content form {
  height: 100%;
}
.homepage #search-text {
  padding-left: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background: #F1F1F1;
  width: 90%;
  height: 100%;
  box-shadow: 1px 1px 5px #bbb inset;
  vertical-align: middle;
  border: none;
  font-size: 18px;
}
.homepage #search-btn {
  vertical-align: middle;
  background: url('search_icon_1.png') no-repeat;
  background-size: 16px auto;
  background-position: center 1px;
  display: inline-block;
  width: 10%;
  height: 100%;
  border: none;
  cursor: pointer;
}
.homepage #search-btn:after {
  content: '';
  background: url('search_icon_2.png') no-repeat;
  background-size: 3px auto;
  display: inline-block;
  width: 3px;
  height: 12px;
  margin-top: 15px;
  margin-right: 15px;
  transform: rotate(30deg);
  transition: all 300ms ease-in-out;
}
.homepage #search-btn:hover:after {
  transform: rotate(-30deg);
  margin-right: -15px;
  margin-top: 15px;
}
.homepage .bdSug_wpr {
  border: none;
  box-shadow: 1px 1px 2px #bbb;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.homepage .bdSug_wpr td {
  line-height: 24px;
  padding-left: 10px;
  cursor: pointer;
}
.homepage .bdSug_app {
  display: none;
}
.homepage .links-wrap {
  width: 720px;
  margin: 50px auto 0;
  padding: 0;
}
.homepage .links-wrap .link {
  width: 100px;
  background: #fff;
  text-align: center;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  float: left;
  margin: 10px;
  box-shadow: 1px 1px 5px #bbb;
  box-sizing: border-box;
}
.homepage .links-wrap .link a {
  color: #757575;
  text-decoration: none;
  display: block;
  text-shadow: 0px 0px 0px #555;
}
.homepage .links-wrap .link a:hover {
  color: #ff9600;
}
.homepage .links-wrap .link:hover {
  box-shadow: none;
  border: 1px solid #ccc;
}
.homepage .links-wrap:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.homepage .copyright {
  color: #bbb;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  font-size: 12px;
}
